/****** General ***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 15px;

  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.card-link {
  color: inherit;
  text-decoration: none;
}

.currency-symbol {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

.visually-hidden:not(:focus):not(:active) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/****** Header ******/

.main-nav {
  display: flex;
  justify-content: space-between;
}

.main-nav img {
  width: 121.9px;
  height: 79px;
  padding: 30px;
}

.main-nav .nav-link {
  display: flex;
  gap: 20px;
  list-style: none;
  user-select: none;
}

.main-nav .nav-item {
  padding: 20px;
  border-top: 2px solid transparent;
}

.main-nav .nav-item:hover {
  border-top: 3px solid var(--main-color);
}

.main-nav a {
  text-decoration: none;
}

/****** info group ******/

.info-group {
  margin: 30px 50px 35px;
}

.info-group p {
  padding-top: 8px;
}

/****** search bar ******/

.search-bar {
  display: flex;
  width: 377px;
  padding: 35px 0;
}

.search-label {
  padding: 0;
  background: transparent;
}

.search-icon {
  font-size: 18px;
  padding: 15px 16px 16px 20px;
  background: var(--main-bg-color);
  border: none;
  border-radius: 15px 0 0 15px;
  color: black;
}

.search-input {
  width: 195px;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0px 11px 24px;
  border: 1px solid var(--main-bg-color);
}

.search-input::placeholder {
  margin: 0;
  padding: 0;
  color: black;
}

.search-button {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 0 15px 15px 0;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}

.search-button:hover {
  background-color: #0052cc;
}

.search-button:active {
  background-color: #00cc00;
  transform: scale(0.99);
}

.search-button .icon {
  display: none;
}

.search-button .btn-search-txt {
  display: block;
}

/****** filters ******/

.filter-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.filter-title {
  font-size: 18px;
  font-weight: 700;
}

.filter-btn {
  display: flex;
  gap: 15px;
  user-select: none;
}

.filter-btn .fa-solid {
  font-size: 20px;
  padding: 5px 5px 5px 0px;
}

.filter-btn button {
  background-color: transparent;
  border: 2px solid var(--main-bg-color);
  border-radius: 25px;
  padding: 8px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.filter-btn button:hover {
  background-color: var(--filter-bg-color);
  transform: scale(1.1);
}

.filter-btn button:active {
  background-color: var(--filter-bg-color);
  transform: scale(0.9);
}

/****** info bar ******/

.infobar {
  padding: 35px 0 0 0;
}

.infobar .fa-solid {
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  border: 1px solid var(--main-bg-color);
  border-radius: 50%;
  margin-right: 6px;
}

/****** Hebergements And Popular ******/

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 35px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ******/

.hebergements {
  width: 65%;
}

.hebergements-cards .hotel-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.hebergements-cards .card {
  width: 13vw;
  height: 23vh;
  padding: 4px;
  transition: transform 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  user-select: none;
}

.hebergements-cards img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  padding-left: 15px;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card:hover {
  transform: scale(1.1);
}

.hebergements-cards .card:active {
  transform: scale(0.9);
}

.hebergements button {
  margin-top: 30px;
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}

.hebergements button:hover {
  transform: scale(1.1);
  color: var(--main-color);
}

.hebergements button:active {
  transform: scale(0.9);
  color: var(--main-color);
}

/****** Popular ******/

.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
  padding: 4px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activities ******/

.activities {
  margin: 0px 50px 35px;
}

.activities-marseille {
  padding: 30px;
}

.activity-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.activity-cards .card:hover {
  transform: scale(1.1);
}

.activity-cards .card:active {
  transform: scale(0.9);
}

.activity-cards .card {
  width: 15vw;
  height: 45vh;
  transition: transform 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  user-select: none;
}

.activity-cards img {
  width: 100%;
  height: 87%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activity-cards .card-content {
  padding-left: 15px;
}

.activity-cards .card-title {
  margin-top: 15px;
  margin-bottom: 4px;
}

/****** Footer ******/

footer {
  background: var(--main-bg-color);
}

.footer-container {
  display: flex;
  gap: 22%;
  padding: 20px;
}

.footer-container,
.footer-link,
.footer-item {
  text-decoration: none;
  list-style: none;
  margin-top: 15px;
  user-select: none;
}

.footer-container a:hover {
  color: var(--main-color);
}

.footer-container a:active {
  color: green;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ******/
@media (min-width: 1025px) and (max-width: 1669px) {
  .hebergements-and-populaires {
    font-size: 1.11vw;
  }

  .hebergements-cards .card {
    width: 15vw;
    height: 24vh;
  }

  .activity-cards .card {
    width: 17vw;
    height: 45vh;
  }

  .activity-cards .card-title {
    font-size: 1vw;
  }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .filter-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .hebergements-cards .card {
    width: 25vw;
    height: 23vh;
  }

  .hebergements-cards .card:hover {
    transform: none;
  }

  .hebergements-cards .card:active {
    transform: none;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activity-cards .card {
    width: 18vw;
    height: 27vh;
  }

  .activity-cards img {
    height: 75%;
  }

  .activity-cards .card-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 45px;
    margin-top: 8px;
  }

  .activity-cards .card:hover {
    transform: none;
  }

  .activity-cards .card:active {
    transform: none;
  }

  .footer-container {
    width: 100%;
    gap: 18%;
  }
}

@media (max-width: 870px) {
  .hebergements-and-populaires {
    font-size: 1.5vw;
  }

  .hebergements-cards .card {
    width: 23vw;
  }

  .activity-cards .card {
    width: 17vw;
    height: 25vh;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .main-container {
    padding: 0;
  }

  .main-nav {
    flex-direction: column;
    align-items: center;
  }

  .main-nav .nav-link {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }

  .main-nav .nav-item {
    width: 100%;
    text-align: center;
    border-top: none;
    border-bottom: 2px solid transparent;
  }

  .main-nav .nav-item:hover {
    border-top: none;
    border-bottom: 3px solid var(--main-color);
  }

  .info-group {
    margin: 30px 0 35px 20px;
  }

  .search-bar {
    width: 100%;
  }

  .search-input {
    width: 50%;
  }

  .search-input::placeholder {
    text-align: center;
  }

  .search-button {
    border-radius: 15px;
    margin-left: -15px;
  }

  .search-button .icon {
    display: inline;
  }

  .search-button .btn-search-txt {
    display: none;
  }

  .filter-btn {
    width: 100%;
    flex-wrap: wrap;
  }

  .filter-btn .btn {
    width: 45%;
  }

  .hebergements-and-populaires {
    margin: 0;
    font-size: 1rem;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  .hebergements-and-populaires .hebergements {
    background: white;
  }

  .hebergements {
    width: 100%;
    order: 2;
  }

  .hebergements-cards .hotel-cards {
    margin-top: 15px;
  }

  .hotel-cards {
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
  }

  .card-link .card {
    width: 100%;
  }

  .hebergements-cards .card:hover {
    transform: none;
  }

  .hebergements-cards .card:active {
    transform: none;
  }

  .populaires {
    width: 100%;
    margin-top: 0;
    order: 1;
  }

  .populaires-cards {
    flex-direction: column;
  }

  .populaires-cards .card {
    width: 100%;
    height: 146px;
    margin-top: 15px;
  }

  .activities {
    margin: 0;
  }

  .activity-cards {
    flex-direction: column;
  }

  .activity-cards .card {
    width: 100%;
    margin-bottom: 15px;
  }

  .activity-cards .card:hover {
    transform: none;
  }

  .activity-cards .card:active {
    transform: none;
  }

  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-left,
  .footer-center {
    margin-bottom: 50px;
  }

  .footer-riegth {
    margin-bottom: 30px;
  }
}

@media (max-width: 319px) {
  .main-nav .nav-link {
    flex-direction: column;
    align-items: center;
  }

  .headline {
    text-align: center;
  }

  .info-group {
    margin: 30px 20px 35px;
  }

  .search-bar {
    flex-direction: column;
    align-items: center;
  }

  .search-label {
    display: none;
  }

  .search-input {
    width: 100%;
    padding-left: 0;
  }

  .search-button {
    width: 100%;
    margin-left: 0;
  }

  .filter-container {
    align-items: center;
  }

  .filter-btn {
    flex-direction: column;
    align-items: center;
  }

  .filter-btn .btn {
    width: 100%;
  }

  .infobar {
    text-align: center;
  }

  .hebergements .section-title {
    text-align: center;
  }
}
